/*
    ==========================================================================
    File: popup.css
    Description:
        This stylesheet provides the specific styles for the extension's
        popup window (views/popup.html). It controls the layout, size, and
        appearance of the elements within the small popup interface, including
        the main icon and the action buttons/toggles.
    ==========================================================================
*/

/* ==========================================================================
   Main Popup Container
   ========================================================================== */

#popup {
	text-align: right;
	width: 256px;
}

#icon {
	background-image: url('/images/icon48.png');
	background-repeat: no-repeat;
	height: 48px;
	position: absolute;
	width: 48px;
}
	#icon.disabled {
		filter: grayscale(100%);
	}

.action {
	margin-bottom: 8px;
}
	.action:last-child {
		margin-bottom: 0px;
	}

.toggle-x {
	color: #A0A0A0;
	font-size: 11px;
	margin-top: 16px;
}
